

body {
    overflow-x: visible !important;
    background-color: black;
    font-family: "Inter", sans-serif;
    .container { display: flex; gap: 30px}
    .movies { flex: 2; display: flex; flex-wrap: wrap; gap: 20px; }
    .movie { border: 1px solid #ccc; padding: 10px; width: 200px; }
}
 
/* Welcome Image */
.welcome {
    background-image: url(../images/hollywood-info.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    position: relative;
}

.welcome h1 {
    position: absolute;
    padding-top: 260px;
    left: 40px;
    font-weight: 300;
}

.highlight {
    color: #D8D063;
}

.img_source {
    font-size: 8px;
    color: #EDE2E2;
    opacity: 60%;
    position: absolute;
    bottom: 0px;
    top: 93%;
    left: 85%;
}

.cta {
    color: #fff;
    padding: 7px 15px;
    background-color: black;
    border-color: #fff;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    border-radius: 12px;
    border: solid 1px;
    font-size: 13px;
    gap: 15px;
    top: 360px;
    left: 37px;
    margin-right: 10px;
  }

  .cta:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Search Bar */
.search_bar {
    padding: 14px 340px;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: #192035;
    position: absolute;
    opacity: 50%;   
    color: #DDD4D4;
    z-index: 1;
}

.search_bar:focus {
    outline: none;
    border: 2px solid #ffffff;
}

.search_bar_position {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.fa-magnifying-glass {
    color: #A09393;
    padding-top: 15px;
    padding-left: 450px;
    justify-content: center;
    position: absolute;
}

/* Movies */
.top-movies {
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #DDD4D4;
    text-transform: uppercase;
    padding-left: 40px;
    white-space: nowrap;
    margin-bottom: 0;

}

.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movie h3 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
}

/* Smaller Screens */

@Media (max-width: 1180px) and (min-width: 757px)  {
    .logo {
        margin-right: 80px;
        font-size: 18px;
    }

}

@Media (max-width: 757px) and (min-width: 570px) {

    .logo {
        font-size: 18px;
        margin-right: 80px;
 
    }

}

@Media (max-width: 570px) and (min-width: 430px) {

    .logo {
        font-size: 15px;
    }

     /* Search Bar */
     .search_bar {
        width: 80%;
        padding: 10px;
    }

    .fa-magnifying-glass {
        position: relative;
        right: 40px;
        bottom: 4px;
    }

    .cta {
        font-size: 12px;
        position: relative;
        top: 430px;
    }

    .welcome h1 {
        font-size: 20px;
    }

}

/* Media Iphone 14 Pro Max */ 
/* Header */
@media (max-width: 430px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    } 

    .logo {
        position: static;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 20px;
    }

    /* Search Bar */
    .search_bar {
        width: 60%;
        padding: 10px;
        margin: 0 auto;
    }

    .fa-magnifying-glass {
        color: #A09393;
        padding-right: 150px;
        padding-bottom: 15px;
    }

    /* Welcome */
    .welcome {
        min-height: 45vh;
        background-size: cover;
        background-position: 20%;
        overflow-x: hidden;
    }

    .welcome h1 {
        font-size: 15px;
        top: 300px;
        left: 10px;
    }

    .cta {
        font-size: 10px;
        top: auto;
        left: auto;
        position: relative;
        top: 360px;
        left: 10px;
    }

    .movie-scroll-container {
        margin-bottom: 50px;
    }

    .body {
        display: flex;
        height: 200%;
        width: 100%;
    }

    }