header {
    background-color: #09031D;
    height: 70px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: visible !important;
    box-sizing: border-box;
}


/* Basket */

body {
    overflow-x: visible !important;
    background-color: black;
    font-family: Inter;
    font-family: "Inter", sans-serif;
    .container { display: flex; gap: 30px}
    .movies { flex: 2; display: flex; flex-wrap: wrap; gap: 20px; }
    .movie { border: 1px solid #ccc; padding: 10px; width: 200px; }
}
 
/* Welcome Image */
.welcome {
    background-image: url(../images/hollywood-info.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    position: relative;
}

.welcome h1 {
    position: absolute;
    padding-top: 260px;
    left: 40px;
    font-weight: 300;
}

.highlight {
    color: #D8D063;
}

.img_source {
    font-size: 9px;
    color: #EDE2E2;
    opacity: 60%;
    position: absolute;
    bottom: 0px;
    top: 93%;
    left: 90%;
}

.cta {
    color: #fff;
    padding: 7px 15px;
    background-color: black;
    border-color: #fff;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    border-radius: 12px;
    border: solid 1px;
    font-size: 13px;
    gap: 15px;
    top: 360px;
    left: 37px;
    margin-right: 10px;
  }

  .cta:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Search Bar */
.search_bar {
    padding: 14px 340px;
    padding-left: 30px;
    border-radius: 15px;
    border: 2px solid transparent;
    background-color: #192035;
    position: absolute;
    opacity: 50%;   
    color: #DDD4D4;
    z-index: 1;
}

.search_bar:focus {
    outline: none;
    border: 2px solid #ffffff;
}

.search_bar_position {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.fa-magnifying-glass {
    color: #A09393;
    padding-top: 15px;
    padding-left: 450px;
    justify-content: center;
    position: absolute;
}

/* API Movies */
.top-movies {
    font-family: "Koulen", sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #DDD4D4;
    text-transform: uppercase;
    padding-left: 40px;
    white-space: nowrap;
    margin-bottom: 0;

}

.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.movie h3 {
    text-align: center;
    width: 100%;
    font-size: 14px;
    padding-left: 15px;
}


#api-movie-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #000;
    margin-top: -20px;
    margin-left: -40px;
}

#api-movie-container .movie {
    display: inline-block;
    border-radius: 11%;
    margin: 20px;
    margin-bottom: 30px;
    border: 2px solid transparent;
}

#api-movie-container .movie img {
    width: 230px;
    height: 340px;
    object-fit: cover;
    border-radius: inherit;
}

#api-movie-container .movie h2 {
    font-size: 15px;
    text-align: center;
}

.movie-wrapper {
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    border-radius: 11%;
    width: 230px;
    height: 340px;
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.movie-wrapper:hover .movie-image {
    opacity: 0.4;
}

.movie-wrapper:hover .movie-overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}

.movie-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.info-btn, .add-btn {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
}

.info-btn:hover, .add-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}


footer {
    background-color: #03031d;
    height: 30px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

/* Social Media Icons */
.fa-instagram {
    color: #fff;
    opacity: 47%;
    padding-left: 20px;
    padding-right: 10px;
}

.fa-x-twitter {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-youtube {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-tiktok {
    color: #fff;
    opacity: 47%;
    padding-left: 10px;
    padding-right: 10px;
}

/* Headings for structure */
.terms_text h3,
.all_rights_text h3 {
    display: none;
}

.terms_text {
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    justify-content: center;
    position: absolute;
    gap: 15px;
    left: 40%;
}

.terms {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
}

.terms:visited {
    color: #fff;
    opacity: 47%;
    text-decoration: none; 
}


.all_rights_text {
    text-decoration: none;
    white-space: nowrap; 
    display: flex; 
    color: #fff;
    opacity: 47%;
    font-size: 10px; 
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 82%;
    max-width: 100vw;
}

/* Smaller Screens */

@Media (max-width: 1180px) and (min-width: 757px)  {
    .all_rights_text {
        position: absolute;
        right: 10%;
    }

    .terms_text {
        display: none;
    }

    .logo {
        margin-right: 80px;
        font-size: 18px;
    }

}

@Media (max-width: 757px) and (min-width: 570px) {

    .logo {
        font-size: 18px;
        margin-right: 80px;
 
    }

    .menu {
        font-size: 12px;
        gap: 30px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 65%;
    }

}

@Media (max-width: 570px) and (min-width: 430px) {

    .logo {
        font-size: 15px;
    }

    .menu {
        font-size: 12px;
        gap: 30px;
        margin-left: 80px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        position: absolute;
        left: 65%;
    }

     /* Search Bar */
     .search_bar {
        width: 80%;
        padding: 10px;
    }

    .fa-magnifying-glass {
        position: relative;
        right: 40px;
        bottom: 4px;
    }

    .cta {
        font-size: 12px;
        position: relative;
        top: 430px;
    }



    .welcome h1 {
        font-size: 20px;
    }

}

/* Media Iphone 14 Pro Max */ 
/* Header */
@media (max-width: 430px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: 100%;
    } 

    .logo {
        position: static;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 20px;
    }

    .menu {
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        padding-left: 5px;
    }

    .menu ul {
        gap: 0px;
        padding: 0;
        margin: 0;
    }

    /* Search Bar */
    .search_bar {
        width: 60%;
        padding: 10px;
        margin: 0 auto;
    }

    .fa-magnifying-glass {
        color: #A09393;
        padding-right: 150px;
        padding-bottom: 15px;
    }

    /* Welcome */
    .welcome {
        min-height: 45vh;
        background-size: cover;
        background-position: 20%;
        overflow-x: hidden;
    }

    .welcome h1 {
        font-size: 15px;
        top: 300px;
        left: 10px;
    }

    .img_source {
        font-size: 7px;
        opacity: 40%;
        position: absolute;
    }

    .cta {
        font-size: 10px;
        top: auto;
        left: auto;
        position: relative;
        top: 360px;
        left: 10px;
    }

    .movie-scroll-container {
        margin-bottom: 50px;
    }

    .body {
        display: flex;
        height: 200%;
        width: 100%;
    }

    .footer {
        position: relative;
    }

    .fa-instagram, 
    .fa-x-twitter,
    .fa-youtube,
    .fa-tiktok {
        padding: 5px;
    }

    .terms_text {
        display: none;
    }

    .all_rights_text {
        font-size: 10px;
        display: flex;
        position: absolute;
        flex-direction: column;
        left: 45%;
    }

    .terms {
        text-decoration: none;
    }

    }